<nav class="row no-gutters sticky-top navigation-bar" #nav>
    <div class="col-4 col-md-10 d-flex justify-content-center align-items-center">
        <button
            #menuToggler
            (click)="toggleMenu(menuContainer)" 
            class="btn btn-outline-primary" 
            id="menu-toggler">
            <!-- <fa-icon [icon]="faHamburger"></fa-icon> -->
            <div id="cross-like-button"></div>
        </button>
        <div
            #menuContainer 
            id="menu-container"
            class="menu-container menu-container--hidden">
            <ul 
                (click)="hideMenuWithDelay(menuContainer, 200)"
                class="list-group">
                <li 
                    [routerLink]="['brief']"
                    routerLinkActive="active12345"
                    class="list-group-item"
                    ><button
                        id="brief-button"
                        class="btn btn-outline-primary menu-button"
                        type="button"
                        >Brief
                    </button>
                </li>
                <li 
                    [routerLink]="['knowledge']"
                    routerLinkActive="active12345"
                    class="list-group-item"
                    ><button
                        id="knowledge-button"
                        class="btn btn-outline-primary menu-button"
                        type="button"
                        >Knowledge
                    </button>
                </li>
                <li 
                    [routerLink]="['projects']"
                    routerLinkActive="active12345"
                    class="list-group-item"
                    ><button
                        id="projects-button"
                        class="btn btn-outline-primary menu-button"
                        type="button"
                        >Projects
                    </button>
                </li>
                <li 
                    [routerLink]="['contact']"
                    routerLinkActive="active12345"
                    class="list-group-item"
                    ><button
                        id="contact-button"
                        class="btn btn-outline-primary menu-button"
                        type="button"
                        >Contact
                    </button> 
                </li>
            </ul>
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <span id="logoProfession">Junior Angular Developer</span>
        <span id="logoAddon" class="d-flex align-items-center"> 
            <fa-icon [icon]="faAngular" id="angular-icon"></fa-icon>
            Portfolio
        </span>
    </div>
</nav>