*
    font-family: 'Comfortaa', cursive

    
$navigation-bar-height: 70px //70
$navigation-bar-height--short: 50px
$menu-button-width: 115px
$global-transition-time: .3s

.navigation-bar
    height: $navigation-bar-height
    border-bottom: 2px solid blue
    background-image: linear-gradient(45deg, #ccc, #fff, #eee)
    box-shadow: 2px 2px 25px 3px deepskyblue
    transition: box-shadow $global-transition-time, height $global-transition-time

#logoProfession
    transition: height $global-transition-time, font-size $global-transition-time
    text-align: center

#menu-toggler
    height: 40px
    width: 42px

.menu-container
    position: absolute
    top: $navigation-bar-height + 2px
    width: $menu-button-width + 60px
    left: 0
    display: block
    z-index: 1
    background: transparent
    transition: top $global-transition-time

.menu-button
    width: $menu-button-width
    transition: width $global-transition-time, font-size $global-transition-time

#angular-icon
    font-size: 1.6rem
    color: rgb(194, 38, 38)

#logoAddon, #logoProfession
    font-size: .8rem
    

.navigation-bar--short
    height: $navigation-bar-height--short
    box-shadow: 2px 2px 5px deepskyblue

.navigation-bar--short #logoProfession
    font-size: 0

.navigation-bar--short .menu-container
    top: $navigation-bar-height--short + 2px

.menu-container--hidden
    display: none

#cross-like-button
    width: 100%
    height: 1px
    border-bottom: 2px solid black
    border-radius: 33%
    transition: border-color $global-transition-time

#cross-like-button::before
    content: ''
    display: block
    width: 100%
    height: 1px
    border-bottom: 2px solid black
    transform: translateY(5px)
    transition: border-color $global-transition-time

#cross-like-button::after
    content: ''
    display: block
    width: 100%
    height: 1px
    border-bottom: 2px solid black
    transform: translateY(-7px)
    transition: border-color $global-transition-time

.active #cross-like-button, .active #cross-like-button::before, .active #cross-like-button::after
    border-color: white

.active #cross-like-button
    border: none

.active #cross-like-button::before
    animation: upper-bar-in $global-transition-time ease-out forwards

.active #cross-like-button::after
    animation: bottom-bar-in $global-transition-time ease-out forwards


@keyframes upper-bar-in
    0%
        transform: translateY(5px)
        
    30%
        transform: translateY(0px)

    100%
        transform: translateY(0px) rotateZ(45deg)

@keyframes bottom-bar-in
    0%
        transform: translateY(-7px)

    30%
        transform: translateY(-2px)
        
    100%
        transform: translateY(-2px) rotateZ(135deg)

@media ( min-width: 768px )
    $navigation-bar-height: 100px //90
    $navigation-bar-height--short: 50px
    
    .navigation-bar
        height: $navigation-bar-height
        transition: height $global-transition-time, box-shadow $global-transition-time
    
    #menu-toggler
        display: none
    
    .menu-container
        position: static
        width: auto
        height: $navigation-bar-height
        display: flex
        justify-content: center
        align-items: center
        transition: height $global-transition-time

    ul
        flex-direction: row
        background-color: transparent

    li
        border: none
        transition: padding $global-transition-time
        background-color: transparent

    li::after
        content: ''
        display: block
        width: 0
        height: 0
        position: relative
        background-color: #eee
        border-radius: 50%
        transform: translateX(50%)
        transition: top $global-transition-time, width $global-transition-time, height $global-transition-time, border $global-transition-time, box-shadow $global-transition-time, transform $global-transition-time

    li.active12345::after
        top: 27px
        width: 100%
        height: 4px
        border: 1px solid blue
        box-shadow: 0 0 25px 6px deepskyblue
        transform: translateX(0)


    .navigation-bar--short li.active12345::after
        top: 5px
        height: 4px
        box-shadow: 0 0 15px 3px deepskyblue

    #angular-icon
        font-size: 2rem
        color: rgb(194, 38, 38)

    #logoAddon, #logoProfession
        font-size: 1rem    

    .navigation-bar button
        width: 150px
        font-size: 20px

    .navigation-bar--short button
        width: 115px
        font-size: 16px

    .navigation-bar--short
        height: $navigation-bar-height--short
        box-shadow: 2px 2px 5px deepskyblue

    .navigation-bar--short .menu-container
        height: $navigation-bar-height--short
    
    .navigation-bar--short li
        padding: 0px 20px

@media ( min-width: 768px ) and ( max-width: 900px )
    li
        padding: 12px 4px