<div class="row content--fade-in">
    <div class="d-none d-md-block col-md-2">

    </div>
    <div class="col" *ngIf="texts">
        <article>
            <section class="section-map">
                <p>
                    {{ texts.introduction.content }} 
                </p>
                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge" 
                            fragment="section_one"
                            class="link--underline"
                            >{{ texts.mapLinks.content[0] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge" 
                            fragment="section_two"
                            class="link--underline"
                            >{{ texts.mapLinks.content[1] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge" 
                            fragment="section_three"
                            class="link--underline"
                            >{{ texts.mapLinks.content[2] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge"
                            fragment="section_four"
                            class="link--underline"
                            >{{ texts.mapLinks.content[3] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge" 
                            fragment="section_five"
                            class="link--underline"
                            >{{ texts.mapLinks.content[4] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge" 
                            fragment="section_six"
                            class="link--underline"
                            >{{ texts.mapLinks.content[5] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/knowledge" 
                            fragment="section_seven"
                            class="link--underline"
                            >{{ texts.mapLinks.content[6] }}
                        </a>
                    </li>
                </ul>
            </section>
            <section-separator id="section_one"></section-separator>
            <section class="section-heading" >
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/html5_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.html.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.html.content[0] }}
                </p>
                <p class="summary-note">
                    {{ texts.html.content[1] }} <span>{{ texts.html.content[2] }}</span>
                </p>
            </section>
            <section-separator id="section_two"></section-separator>
            <section class="section-heading">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/css3_logo.png" 
                        alt="CSS logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.css.heading[0] }}
                </h2>
                <div class="section-heading--icon" style="margin-left: -8psx;">
                    <img 
                        src="assets/brands-icons/sass_logo.png" 
                        alt="SASS logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.css.heading[1] }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.css.content[0] }}
                </p>
                <p>
                    {{ texts.css.content[1] }}
                </p>
                <p class="summary-note">
                    {{ texts.css.content[2] }} <span>{{ texts.css.content[3] }}</span>
                </p>
            </section>
            <section-separator id="section_three"></section-separator>
            <section class="section-heading" >
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/js_logo.png" 
                        alt="JavaScript logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.js.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.js.content[0] }}
                </p>
                <p>
                    {{ texts.js.content[1] }}
                </p>
                <p class="summary-note">
                    {{ texts.js.content[2] }} <span>{{ texts.js.content[3] }}</span>
                </p>
            </section>
            <section-separator id="section_four"></section-separator>
            <section class="section-heading">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/angular_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.angular.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.angular.content[0] }}
                </p>
                <p class="summary-note">
                    {{ texts.angular.content[1] }} <span>{{ texts.angular.content[2] }}</span>
                </p>
            </section>
            <section-separator id="section_five"></section-separator>
            <section class="section-heading">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/database_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.databases.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.databases.content[0] }}
                </p>
                <p class="summary-note">
                    {{ texts.databases.content[1] }} <span>{{ texts.databases.content[2] }}</span> 
                </p>
                <p class="summary-note">
                    {{ texts.databases.content[3] }} <span>{{ texts.databases.content[4] }}</span>
                </p>
            </section>
            <section-separator id="section_six"></section-separator>
            <section class="section-heading">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/vsc_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h2 class="section-heading--text">
                    {{ texts.ide.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.ide.content[0] }}
                </p>
                <p class="summary-note">
                    {{ texts.ide.content[1] }} <span>{{ texts.ide.content[2] }}</span>
                </p>
            </section>
            <section-separator id="section_seven"></section-separator>
            <section class="section-heading">
                <h2 class="section-heading--text">
                    {{ texts.others.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.others.content[0] }}
                </p>
                <p>
                    {{ texts.others.content[1] }}
                </p>
                <p class="summary-note">
                    {{ texts.others.content[2] }} <span>{{ texts.others.content[3] }}</span>
                </p>
                <p class="summary-note">
                    {{ texts.others.content[4] }} <span>{{ texts.others.content[5] }}</span>
                </p>
                <p class="summary-note">
                    {{ texts.others.content[6] }} <span>{{ texts.others.content[7] }}</span>
                </p>
            </section>
            <section-separator></section-separator>
            <section class="d-flex justify-content-center">
                <about-author-card></about-author-card>
            </section>
        </article>
    </div>
    <div class="d-none d-md-block col-md-2"></div>
</div>
