<div>
    <article>
        <section class="section-map">
            <p>
                Hej! Witaj na mojej stronie! Poniżej znajdziesz bardziej szczegółowe informacje o mojej wiedzy technicznej.
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_one">HTML</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_two">CSS/SASS</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_three">JavaScript</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_four">Angular 2+</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_five">Bazy Danych</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_six">Środowiska programistyczne</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/knowledge" fragment="section_seven">Pozostałe biblioteki i narzędzia</a>
                </li>
            </ul>
        </section>
        <article-separator id="section_one"></article-separator>
        <section class="section-title" >
            <h3>
                HTML
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis animi voluptatem alias qui quod tempore nulla explicabo eveniet natus placeat?
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_two">
            <h3>
                CSS/SASS
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nisi obcaecati numquam deleniti accusantium, culpa nihil et modi doloremque perferendis.
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_three">
            <h3>
                JavaScript
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero numquam nihil culpa quibusdam adipisci obcaecati aliquam maiores sequi consequatur illum.
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_four">
            <h3>
                Angular 2+
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto explicabo mollitia voluptas perferendis atque harum id aliquid omnis dolor?
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_five">
            <h3>
                Bazy danych
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto explicabo mollitia voluptas perferendis atque harum id aliquid omnis dolor?
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_six">
            <h3>
                środowiska programistyczne
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto explicabo mollitia voluptas perferendis atque harum id aliquid omnis dolor?
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_seven">
            <h3>
                Pozostałe biblioteki i narzędzia
            </h3>
        </section>
        <section class="section-body">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto explicabo mollitia voluptas perferendis atque harum id aliquid omnis dolor?
            </p>
        </section>
        <article-separator></article-separator>
        <section class="d-flex justify-content-center">
            <about-author-card></about-author-card>
        </section>
    </article>

</div>
