<div class="row content--fade-in">
    <div class="d-none d-md-block col-md-2">

    </div>
    <div class="col">
        <article>
            <section class="section-map">
                <p>
                    Hej! Witaj na mojej stronie! Poniżej znajdziesz bardziej szczegółowe informacje o mojej wiedzy technicznej. Pod każdą sekcją zamieszczam swoją 
                    subiektywną ocenę danej tachnologii w 6-ścio stopniowej, szkolnej skali. 
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_one">HTML</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_two">CSS/SASS</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_three">JavaScript/TypeScript</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_four">Angular 2+</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_five">Bazy Danych</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_six">Środowiska programistyczne</a>
                    </li>
                    <li class="list-group-item">
                        <a routerLink="/knowledge" fragment="section_seven">Pozostałe biblioteki i narzędzia</a>
                    </li>
                </ul>
            </section>
            <article-separator id="section_one"></article-separator>
            <section class="section-heading" >
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/html5_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    HTML
                </h3>
            </section>
            <section class="section-body">
                <p>
                    W zasadzie HTML5. Trudno tutaj mówić o programowaniu... :) Nowości wprowadzone w wersji 5 są mi jak najbardziej znane, aczkolwiek skłamałbym gdybym powiedział, że stosuję wszystkie znaczki tak jak się powinno. Oczywiście staram się nie przesadzać z DIVami w kodzie, ale zapamiętanie pełnej semantyki wszystkich nowych znaczników wymaga napisania kilku stron komercyjnie pod tym kierunkiem. W aplikacjach i ćwiczeniach, które do tej pory przerobiłem zwracałem na nie uwagę, ale daleki byłem od wykorzystania ich wszystkich :) ARIA znam i widuję, ale tutaj ze stosowaniem jest podobnie jak z semantyką znaczników. Jedyną rzeczą, w której w ogóle się nie czuję sa znaczniki meta-danych. Nie zagłebiałem się w mechanizmy działania botów i trudno mi się poruszać w świecie meta-danych
                </p>
                <p class="summary-note">
                    Znajomość: <span>3/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="section-heading" id="section_two">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/css3_logo.png" 
                        alt="CSS logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    CSS
                </h3>
                <div class="section-heading--icon" style="margin-left: -8psx;">
                    <img 
                        src="assets/brands-icons/sass_logo.png" 
                        alt="SASS logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    SASS
                </h3>
            </section>
            <section class="section-body">
                <p>
                    Ach... CSS... Znam, znam... :) aczkolwiek nie ukrywam, że bez IntelliSensa pisanie kodu CSS byłoby trudnym zadaniem. Najczęściej używane właściwości zapadły mi już w pamięć, ale jest jeszcze całkiem pokaźne grono, które wiem, że istnieje i nawet gdzieś, kiedyś ich użyłem, ale bez drobej podpowiedzi ze strony IDE by się nie obyło. Ale własnie po to IDE jest!
                </p>
                <p>
                    Z ciekawszych rzeczy dotyczących CSS'a to flex-box jest mi dobrze znany. Gorzej z GRIDem (nie tym bootstrapowym!). Kolejna przydatna rzecz o której czytałem, bądź słyszałem, ale nie miałem potrzeby jej stosować. Wszystko przede mną :) RWD stosuję namiętnie i podchodzę do swoich projektów metodą Mobile-First. Chwilę to zajęło, żeby się przestawić :) Pozostało wspomnieć o rzeczy najważniejszej - metodologii. Szybko zauważyłem, że CSS mimo iż nie jest trudnym tematem to wymaga odpowiedniego podejścia. Bałagan potrafi stworzyć się błyskawicznie. Dlatego, żeby nie wymyślać koła na nowo zapoznałem się z BEM'em oraz OOCSS. Oraz po raz kolejny doceniłem modułowość Angulara!
                </p>
                <p class="summary-note">
                    Znajomość: <span>4/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="section-heading" id="section_three">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/js_logo.png" 
                        alt="JavaScript logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    JavaScript
                </h3>
                <!-- <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/ts_logo.png" 
                        alt="TypeScript logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    TypeScript
                </h3> -->
            </section>
            <section class="section-body">
                <p>
                    I tutaj jest pies pogrzebany. Uważam, że trudno jest ocenić rzetelnie swoją wiedzę z tego zakresu. I piszę tutaj o VanillaJS, bez żadnych bibliotek. W trakcie swojej nauki napisałem sporo kodu w tym języku, ale daleko mi od poznania pełni jego potencjału. W wielu kursach JS był spłycony do zapoznania się z DOM'em, a następnie żonglowania querySelectorami i klasami. A im dalej w las szedłem tym bardziej TypeScriptowe drzewa przede mną wyrastały, więc w czystym JS trudno mi określić swój poziom. 
                </p>
                <p>
                    Kilka razu powyżej wspomniałem o VanillaJS. Nie bez powodu. Już na samym początku nauki stwierdziłem, że nie ma sensu zaczynać od nauki zewnętrznych bibliotek. Dopiero, gdy Vanilla nie sprosta wymaganiom, bądź kod stanie się obłędnie zagmatwany to zacznę iść w stronę bibliotek. I okazało się, że bez JQuery da się pisać programy :) Zresztą, gdy dobrze zna się sam język programowania, to nauka wspomagaczy powinna przyjść raczej łatwo. Jak już wcześniej pisałem - to tylko kolejne narzędzie, a gdy zna się już mechanizmy które za nim stoją to nauka ich nie powinna być wielkim wyzwaniem. Mam nadzieję, że mnie przeyszłość brzydko nie zaskoczy w tym temacie... :) No i dodatkowo TypeScript, który ratuje składnie JS'a. 
                </p>
                <p class="summary-note">
                    Znajomość: <span>3/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="section-heading" id="section_four">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/angular_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    Angular 2+
                </h3>
            </section>
            <section class="section-body">
                <p>
                    Swoje zmagania z Angular'em zacząłem od wersji 9 tegoż frameworka. Niestety w trakcie nauki napotkałem na zbyt wiele problemów z zewnętrznymi bibliotekami i silnikiem Ivy, więc szybko cofnąłem się do wersji 8 i na niej pracuję do teraz. Opanowałem całkiem sporą dawkę materiału zachaczającą o zagadnienia zaawansowane. Przynajmniej tak to kursy opisywały :) Pisanie własnych dyrektyw czy pipe'ow, konfiguracja route'ów, binding zmiennych, obsługa eventów, angularowe dyrektywy, operacje na layoucie, kofiguracja przez pliki .json, testy jednostkowe pisane w Jasmine... No... Umiem :) Jedyne co próbowałem i nie udało mi się tego opanować to Angular Material. Zdecydowanie nie spodobało mi się to jak Material jest skonstruowany. I nie nadrabia tego nawet to jak wyglądają komponenty, których on dostarcza. Ale z pewnością pochylę się nad samym Material Design, gdyż przynajmniej z tego co do tej pory widziałem, jest to bardzo fajne narzędzie. 
                </p>
                <p class="summary-note">
                    Znajomość: <span>3/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="section-heading" id="section_five">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/database_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    Bazy danych
                </h3>
            </section>
            <section class="section-body">
                <p>
                    Jak już wspomniałem <a routerLink="/brief" fragment="section_three" >w tym miejscu</a> w trakcie wyboru specjalizacji próbowałem troszkę pisania programów back-endowych. Tam też zapoznałem się z EntityFramework i relacyjnymi bazami danych, które uważam za po prostu świetne. Jakoś lepiej się w nich odnajdywałem niż w bazach nierelacyjnych. Ale i tych drugich nie sposób było pominąć w trakcie nauki. Popularne i szybkie, wystarczające w zaskakująco dużej ilości aplikacji. Prostsze w nauce i obsłudze. Jak do tej pory ze wszystkich dostępnych modeli baz nierelacyjnych zapoznałem się z key-value pair (czymże to się różni od JSONa?) oraz document-model. Z racji darmowego hostingu i fajnych możliwości póki co operowałem wyłącznie na firebasie, ale wiem, że nie uniknę zapoznania się z kilkoma innymi dostawcami (w najbliższym czasie chciałbym się zapoznać z MongoDB). 
                </p>
                <p class="summary-note">
                    Znajomość (relacyjne): <span>2/6</span> 
                </p>
                <p class="summary-note">
                    Znajomość (nierelacyjne): <span>3/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="section-heading" id="section_six">
                <div class="section-heading--icon">
                    <img 
                        src="assets/brands-icons/vsc_logo.png" 
                        alt="HTML logo" 
                    >
                </div>
                <h3 class="section-heading--text">
                    środowiska programistyczne
                </h3>
            </section>
            <section class="section-body">
                <p>
                    Tutaj dużo nie eksperymentowałem - Visual Studio Community oraz Visual Studio Code. Na Code padło, gdyż z Visual Studio miałem doczynienia już wcześniej. I był to wybór nader trafny, gdyż jak się później dowiedziałem nie ma chyba popularniejszych IDE. W jednym z kursów usłyszałem coś co bardzo mi się spodobało i utwierdziło mnie w czymś czego w pewien sposób nauczyłem się w swoim poprzednim zawodzie: PROGRAMISTA NIE UŻYWA MYSZKI! :) Oczywiście programowanie sterowników logicznych ma niewiele wspólnego z programowaniem aplikacji webowych czy desktopowych i tam bez myszki ani rusz - ale usilnie minimalizowałem konieczność sięgania po nią. Za to przy pracy z VSC doceniam to ile można zrobić przy użyciu wyłącznie klawiatury (przy czym nie lubie tworzyć własnych skrótów - jakoś zawsze są one niezbyt udane...) i snippetów. 
                </p>
                <p class="summary-note">
                    Znajomość: <span>4/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="section-heading" id="section_seven">
                <h3 class="section-heading--text">
                    Pozostałe biblioteki i narzędzia
                </h3>
            </section>
            <section class="section-body">
                <p>
                    Tutaj będzie krótko, bo i jakoś wielkiego zasobu bibliotek w swoim portfolio nie mam. Ot Bootstrap w wersji 4 i jegp świetnie dopasowany do RWD GRID System. RxJS, bo i nie da się napisać aplikacji bez operacji asynchronicznych. HammerJS, bo i jaka strona jest przeznaczona tylko na desktop (no naciągnąłem tutaj... wiem...). Do dopełnienia całości Fontawesome i Google Fonts, ale tych już bibliotekami nazwać trudno :)
                </p>
                <p>
                    Z narzędzi swojego czasu zapoznałem się z CodePenem, który uważam za fajny sandbox, gdy już zbierze się w nas dość kreatywność, aby wylać ją na ekran komputera :) Standardowo jeszcze GIT, którego znam raczej w stopniu podstawowym - znaczy stworze commita, brancha, zmarguje brancha i jak trzeba to otworze konsolę. Zdaję sobie sprawę, że Git oferuje dużo więcej, ale w pojedynkę trudno było tego wszystkiego się uczyć. W tym miejscu przychylam się ku zasadzie, że człowiek najlepiej uczy się poprzez pracę. I jak zajdzie potrzeba to i tych bardziej zaawansowanych rzeczy się nauczę :) 
                </p>
                <p class="summary-note">
                    Znajomość (Bootstrap): <span>4/6</span>
                </p>
                <p class="summary-note">
                    Znajomość (RxJS): <span>2/6</span>
                </p>
                <p class="summary-note">
                    Znajomość (HammerJS): <span>jeszcze nie znam</span> 
                </p>
                <p class="summary-note">
                    Znajomość (GIT): <span>2/6</span>
                </p>
            </section>
            <article-separator></article-separator>
            <section class="d-flex justify-content-center">
                <about-author-card></about-author-card>
            </section>
        </article>
    </div>
    <div class="d-none d-md-block col-md-2"></div>
</div>
