@import 'src/_variables.sass'
    
.section-title
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 16px
    letter-spacing: 2px

.section-title--icon
    height: $section-heading-icon-height
    margin: 0 4px 0 8px

.section-title--icon img
    height: $section-heading-icon-height

.section-title--text
    margin: 0

.summary-note
    text-indent: 0
    text-align: center
    font-size: 1.6rem

.summary-note span
    margin: 0 8px
    font-size: 2rem

@media ( min-width: $md-breakpoint)
    .section-title
        justify-content: start

    .section-title--icon
        margin: 0 8px 0 16px

    .summary-note
        text-indent: 2rem
        text-align: left