<div class="row content--fade-in">
    <div class="d-none d-md-block col-md-2">

    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <a 
            class="d-flex align-items-center link-box"
            href="https://www.linkedin.com/in/%C5%82ukasz-pietrzyk/" 
            target="_blank" 
            rel="noopener noreferrer">
            <fa-icon [icon]="faLinkedin"></fa-icon>
            <div>LinkedIn</div>
        </a>
        <a 
            class="d-flex align-items-center link-box"
            href="https://github.com/gangrendalf/" 
            target="_blank" 
            rel="noopener noreferrer">
            <fa-icon [icon]="faGithub"></fa-icon>
            <div>GitHub</div>
        </a>
        <a 
            class="d-flex align-items-center link-box"
            href="mailto:lukasz.pietrzyk1991@gmail.com"
            target="_blank" 
            rel="noopener noreferrer">
            <fa-icon [icon]="faMail"></fa-icon>
            <div>Mail</div>
        </a>
    </div>
    <div class="d-none d-md-block col-md-2">

    </div>
</div>
