<div class="row content--fade-in">
    <div class="d-none d-md-block col-md-2">
        
    </div>
    <div class="col" *ngIf="texts">
        <article>
            <section class="section-map">
                <p>
                    {{ texts.introduction.content }}
                </p>
                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <a 
                            routerLink="/projects" 
                            fragment="section_one"
                            class="link--underline"
                            >{{ texts.mapLinks.content[0] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/projects" 
                            fragment="section_two"
                            class="link--underline"
                            >{{ texts.mapLinks.content[1] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a 
                            routerLink="/projects" 
                            fragment="section_three"
                            class="link--underline"
                            >{{ texts.mapLinks.content[2] }}
                        </a>
                    </li>
                </ul>
            </section>
            <article-separator id="section_one"></article-separator>
            <section class="section-title" >
                <h2>
                    {{ texts.stronaZeSmiesznymiObrazkami.heading }}
                </h2>
            </section>
            <section class="section-body">
                <p>
                    {{ texts.stronaZeSmiesznymiObrazkami.content[0] }}
                </p>
                <br>
                    <div>
                        <ngb-carousel *ngIf="stronaZObrazkamiCarouselDataSource as images">
                            <ng-template ngbSlide *ngFor="let image of images; let i = index;">
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[i]" alt="Random first slide">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                <br>
                <p>
                    {{ texts.stronaZeSmiesznymiObrazkami.content[1] }}
                </p>
                <h5>
                    <i><b>{{ texts.stronaZeSmiesznymiObrazkami.content[2] }}</b></i>
                </h5>
                <p>
                    {{ texts.stronaZeSmiesznymiObrazkami.content[3] }}
                </p>
                <h5>
                    <i><b>{{ texts.stronaZeSmiesznymiObrazkami.content[4] }}</b></i>
                </h5>
                <p>
                    {{ texts.stronaZeSmiesznymiObrazkami.content[5] }}
                </p>
                <p>
                    <a 
                        href="https://github.com/gangrendalf/strona-ze-smiesznymi-obrazkami" 
                        target="_blank" 
                        rel="noopener noreferrer"
                        class="link--underline"
                        >{{ texts.stronaZeSmiesznymiObrazkami.content[6] }}
                    </a>
                </p>
            </section>
            <article-separator id="section_two"></article-separator>
                <section class="section-title" >
                    <h2>
                        {{ texts.toDoApp.heading }}
                    </h2>
                </section>
                <section class="section-body">
                    <p>
                        {{ texts.toDoApp.content[0] }}
                    </p>
                    <p>
                        {{ texts.toDoApp.content[1] }}
                    </p>
                    <br>
                    <div>
                        <ngb-carousel *ngIf="todoListCarouselDataSource as images">
                            <ng-template ngbSlide *ngFor="let image of images; let i = index;">
                                <div class="picsum-img-wrapper">
                                    <img [src]="images[i]" alt="Random first slide">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <br>
                    <p>
                        {{ texts.toDoApp.content[2] }}
                    </p>
                    <p>
                        <a 
                            href="https://github.com/gangrendalf/to-do-app" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="link--underline"
                            >{{ texts.toDoApp.content[3] }}
                        </a>
                    </p>
                    <p>
                        <a 
                            href="https://to-do-app-19460.firebaseapp.com/welcome" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="link--underline"
                            >{{ texts.toDoApp.content[4] }}
                        </a>
                    </p>
                </section>
            <article-separator id="section_three"></article-separator>
                <section class="section-title" >
                    <h2>
                        {{ texts.portfolio.heading }}
                    </h2>
                </section>
                <section class="section-body">
                    <p>
                        {{ texts.portfolio.content[0] }} 
                    </p>
                    <p>
                        <a 
                            href="https://github.com/gangrendalf/portfolio" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="link--underline"
                            >{{ texts.portfolio.content[1] }} 
                        </a>
                    </p>
                </section>
            <article-separator></article-separator>
            
            <section class="d-flex justify-content-center">
                <about-author-card></about-author-card>
            </section>
        </article>
    </div>
    <div class="d-none d-md-block col-md-2">

    </div>
</div>
