<div class="row content--fade-in">
    <div class="d-none d-md-block col-md-2">
        
    </div>
    <div class="col" *ngIf="texts">
        <article>
            <section>
                <div class="section-heading">
                    <p [innerHTML]="texts.introduction.content"></p>
                </div>
                <div class="section-body">
                    <ul class="list-group-flush">
                        <li class="list-group-item">
                            <a 
                                routerLink="/projects" 
                                fragment="section_one"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[0]"
                            ></a>
                        </li>
                        <li class="list-group-item">
                            <a 
                                routerLink="/projects" 
                                fragment="section_two"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[1]"
                            ></a>
                        </li>
                        <li class="list-group-item">
                            <a 
                                routerLink="/projects" 
                                fragment="section_three"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[2]"
                            ></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_one">
                <div class="section-heading">
                    <h2 [innerHTML]="texts.loanCalculator.heading"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.loanCalculator.content[0]"></p>
                    <p>
                        <a 
                            href="https://github.com/gangrendalf/LoanFacility" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="link--underline"
                            [innerHTML]="texts.loanCalculator.content[1]"
                        ></a>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_two">
                <div class="section-heading">
                    <h2 [innerHTML]="texts.stronaZeSmiesznymiObrazkami.heading"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.stronaZeSmiesznymiObrazkami.content[0]"></p>
                    <ngb-carousel *ngIf="stronaZObrazkamiCarouselDataSource as images" class="my-5">
                        <ng-template ngbSlide *ngFor="let image of images; let i = index;">
                            <div class="picsum-img-wrapper">
                                <img [src]="images[i]" alt="Random first slide">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    <p>
                        <a 
                            href="https://github.com/gangrendalf/strona-ze-smiesznymi-obrazkami" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="link--underline"
                            [innerHTML]="texts.stronaZeSmiesznymiObrazkami.content[1]"
                        ></a>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_three">
                <div class="section-heading">
                    <h2 [innerHTML]="texts.portfolio.heading"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.portfolio.content[0]"></p>
                    <p [innerHTML]="texts.portfolio.content[1]"></p>
                    <p [innerHTML]="texts.portfolio.content[2]"></p>
                    <p>
                        <a 
                            href="https://github.com/gangrendalf/portfolio" 
                            target="_blank" 
                            rel="noopener noreferrer"
                            class="link--underline"
                            [innerHTML]="texts.portfolio.content[3]"
                        ></a>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section class="d-flex justify-content-center">
                <about-author-card></about-author-card>
            </section>
        </article>
    </div>
    <div class="d-none d-md-block col-md-2">

    </div>
</div>
