<div class="content--fade-in">
    <article>
        <section class="section-map">
            <p>
                Hej! Witaj na mojej stronie! Poniżej znajdziesz zestawienie projektow ktore do tej pory opublikowalem. Lista jest poki co skromna, ale nie lenie sie i caly czas cwicze ;)
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a routerLink="/projects" fragment="section_one">ToDo List</a>
                </li>
            </ul>
        </section>
        <article-separator id="section_one"></article-separator>
        <section class="section-title" >
            <h3>
                ToDo List
            </h3>
        </section>
        <section class="section-body">
            <p>
                Krótki opis
            </p>
            <p>
                Prezentacja
            </p>
            <p>
                link
            </p>
        </section>
        <article-separator></article-separator>
        
        <section class="d-flex justify-content-center">
            <about-author-card></about-author-card>
        </section>
    </article>

</div>
