<div class="row content--fade-in" #wrapper>
    <div class="d-none d-md-block col-md-2">
        <!--  -->
    </div>
    <div class="col" *ngIf="texts">
        <article>
            <section>
                <div class="section-title">
                    <h2 [innerHTML]="texts.introduction.heading"></h2>
                    <p [innerHTML]="texts.introduction.content"></p>
                </div>
                <div class="section-body">
                    <ul class="list-group-flush">
                        <li class="list-group-item">
                            <a 
                                routerLink="/brief" 
                                fragment="section_one"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[0]"
                            ></a>
                        </li>
                        <li class="list-group-item">
                            <a 
                                routerLink="/brief"
                                fragment="section_two"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[1]"
                            ></a>
                        </li>
                        <li class="list-group-item">
                            <a 
                                routerLink="/brief" 
                                fragment="section_three"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[2]"
                            ></a>
                        </li>
                        <li class="list-group-item">
                            <a 
                                routerLink="/brief" 
                                fragment="section_four"
                                class="link--underline"
                                [innerHTML]="texts.mapLinks.content[3]"
                            ></a>
                        </li>
                    </ul>
                </div>
            </section>
            <article-separator></article-separator>
            <section id="section_one">
                <h2 [innerHTML]="texts.chapter1.heading" class="section-title"></h2>
                <div class="section-body">
                    <p [innerHTML]="texts.chapter1.content[0]"></p>
                    <p [innerHTML]="texts.chapter1.content[1]"></p>
                </div>
            </section>
            <article-separator></article-separator>
            <section id="section_two">
                <h2 [innerHTML]="texts.chapter2.heading" class="section-title"></h2>
                <div class="section-body">
                    <p [innerHTML]="texts.chapter2.content[0]"></p>
                    <p [innerHTML]="texts.chapter2.content[1]"></p>
                </div>
            </section>
            <article-separator></article-separator>
            <section id="section_three">
                <h2 [innerHTML]="texts.chapter3.heading" class="section-title"></h2>
                <div class="section-body">
                    <p [innerHTML]="texts.chapter3.content[0]"></p>
                    <p [innerHTML]="texts.chapter3.content[1]"></p>
                </div>
            </section>
            <article-separator></article-separator>
            <section id="section_four">
                <h2 [innerHTML]="texts.chapter4.heading" class="section-title"></h2>
                <div class="section-body">
                    <p [innerHTML]="texts.chapter4.content[0]"></p>
                    <h4 [innerHTML]="texts.chapter4update1.heading" id="update_22_11_2020" class="my-5"></h4>
                    <p [innerHTML]="texts.chapter4update1.content[0]"></p>
                    <ul class="list-group list-group-flush list-unstyled my-5">
                        <li [innerHTML]="texts.chapter4update1.content[1]" class="list-group-item"></li>
                        <li [innerHTML]="texts.chapter4update1.content[2]" class="list-group-item"></li>
                    </ul>
                <p [innerHTML]="texts.chapter4update1.content[3]"></p>
                </div>
            </section>
            <article-separator></article-separator>
            <section class="d-flex justify-content-center">
                <about-author-card></about-author-card>
            </section>
        </article>
    </div>
    <div class="col-md-2">
        <!--  -->
    </div>
</div>
