<div>
    <article>
        <section class="section-title">
            <h3>Wstęp</h3>
            <p>
                Hej! Witaj na mojej stronie! Poniżej znajdziesz kilka informacji o mojej osobie - bardziej personalnych niż zawodowych. 
            </p>
        </section>
        <section class="section-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a routerLink="/brief" fragment="section_one">Kim byłem?</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/brief" fragment="section_two">Kim jestem?</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/brief" fragment="section_three">Jak to się stało?</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="/brief" fragment="section_four">Dlaczego front-end?</a>
                </li>
            </ul>
        </section>
        <article-separator id="section_one"></article-separator>
        <section class="section-title" >
            <h3>
                Kim bylem?
            </h3>
        </section>
        <section class="section-body">
            <p>
                Inżynierem systemów sterowania, bądź automatykiem - z której strony by nie spojrzeć to pracowałem w przemyśle. Od samego początku mojej zawodowej kariery byłem związany z branżą motoryzacyjną. Bitych 5 lat spędziłem na odwiedzając fabryki rozsiane po świecie (od Ameryki Północnej, przez Południową po Europę). Ale ta strona nie powstała z myślą o prezentacji tego co było, ale tego co jest i co będzie :) dlatego krótko podsumowując ten paragraf - po zaprogramowaniu wielu sterowników i uruchomieniu wielu linii produkcyjnych cos tam cos tam
            </p>
            <p>
                trzeba wymyslec jakos ladniej tej paragraf ale jakos tak bedzie to wygladalo
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_two">
            <h3>
                Kim jestem?
            </h3>
        </section>
        <section class="section-body">
            <p>
                Z zawodu automatyk, z zamiłowania programista :) Pogodny, uśmiechnięty i lubiący wyzwania. Czasami trochę niecierpliwy. Za to zawsze skory do pomocy!
            </p>
            <p>
                Tyle słowem wstępu. Ze spraw bardziej technicznych to przynam się, że jeszcze rok temu nie pomyślałbym, że znajdę się w obecnej sytuacji. Mimo tego, że w głowie świtała mi myśl o związaniu się ze światem IT to sama decyzja o zmianie zawodu wyszła dość spontanicznie :)   
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_three">
            <h3>
                Jak to się stało?
            </h3>
        </section>
        <section class="section-body">
            <p>
                niespodziewanie xD
            </p>
        </section>
        <article-separator></article-separator>
        <section class="section-title" id="section_four">
            <h3>
                Dlaczego front-end?
            </h3>
        </section>
        <section class="section-body">
            <p>
                Do programowania ciągnęło mnie od dawna, ale trochę się bałem monotonii pracy z samym kodem - dlatego postawiłem na front-end! W trakcie swojej nauki szybko spostrzegłem, że dużo dynamiczniej praca postępuję we froncie. na efekty pracy nie trzeba czekać zbyt długo i jeszcze kilk ainnych rzeczy. w sumie musze to jeszce przemyslec :)
            </p>
        </section>
        <article-separator></article-separator>
        <section class="d-flex justify-content-center">
            <about-author-card></about-author-card>
        </section>
    </article>

</div>
