<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center">
        <span class="author-name">
            Łukasz Pietrzyk 
        </span>
        <span class="author-profession">
            Junior Angular Developer
        </span>
        <span class="author-interesting-fact text-center">
            "Język programowania to zwyczajne narzędzie - jak młotek"
        </span>
        <div class="author-link">
            <a href="https://www.linkedin.com/in/%C5%82ukasz-pietrzyk/" target="_blank" class="page-link">
                <fa-icon [icon]="faLinkedin"></fa-icon>
                LinkedIn
            </a>
            <a href="https://github.com/gangrendalf/" class="page-link" target="_blank">
                <fa-icon [icon]="faGithubSquare"></fa-icon>
                Github
            </a>
        </div>
    </div>
    <div class="col-md d-flex flex-column justify-content-center align-items-center m-3">
        <img src="/assets/lp-photo.png" alt="authors photo">
    </div>
</div>
