.row
    max-width: 400px
    margin-bottom: 24px
    padding: 5px 20px
    border: 1px solid #ddd

img
    max-width: 100px

.author-name
    font-weight: bold
    font-size: 1.2rem

.author-profession
    font-size: 1rem 

.author-interesting-fact
    font-size: .9rem
    color: grey

.author-link
    min-width: calc( 100% - 40px )
    text-align: center

.page-link
    

@media ( min-width: 768px )
    .row
        max-width: 600px

    img
        max-width: 130px


    