<div class="row content--fade-in">
    <div class="d-none d-md-block col-md-2">

    </div>
    <div class="col" *ngIf="texts">
        <article>
            <section>
                <div class="section-heading">
                    <p [innerHTML]="texts.introduction.content"></p>
                </div>
                <div class="section-body">
                    <ul class="list-group-flush">
                        <li class="list-group-item" *ngFor="let link of texts.mapLinks.content; let i = index">
                            <a 
                                routerLink="/knowledge" 
                                fragment="section_{{ i+1 }}"
                                class="link--underline"
                                [innerHTML]="link"
                            ></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_1">
                <div class="section-heading">
                    <div class="section-heading--icon">
                        <img 
                            src="assets/images/brands/html5_logo.png" 
                            alt="HTML logo" 
                        >
                    </div>
                    <h2 [innerHTML]="texts.html.heading" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.html.content[0]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.html.content[1]"></span>
                        <span [innerHTML]="texts.html.content[2]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_2">
                <div class="section-heading">
                    <div class="section-heading--icon">
                        <img 
                            src="assets/images/brands/css3_logo.png" 
                            alt="CSS logo">
                    </div>
                    <h2 [innerHTML]="texts.css.heading[0]" class="section-heading--text"></h2>
                    <div class="section-heading--icon" style="margin-left: -8psx;">
                        <img 
                            src="assets/images/brands/sass_logo.png" 
                            alt="SASS logo">
                    </div>
                    <h2 [innerHTML]="texts.css.heading[1]" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.css.content[0]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.css.content[1]"></span>
                        <span [innerHTML]="texts.css.content[2]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_3">
                <div class="section-heading">
                    <div class="section-heading--icon">
                        <img 
                            src="assets/images/brands/js_logo.png" 
                            alt="JavaScript logo">
                    </div>
                    <h2 [innerHTML]="texts.js.heading" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.js.content[0]"></p>
                    <p [innerHTML]="texts.js.content[1]"></p>
                    <p [innerHTML]="texts.js.content[2]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.js.content[3]"></span>
                        <span [innerHTML]="texts.js.content[4]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_4">
                <div class="section-heading">
                    <div class="section-heading--icon">
                        <img 
                            src="assets/images/brands/angular_logo.png" 
                            alt="HTML logo">
                    </div>
                    <h2 [innerHTML]="texts.angular.heading" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.angular.content[0]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.angular.content[1]"></span>
                        <span [innerHTML]="texts.angular.content[2]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_5">
                <div class="section-heading">
                    <div class="section-heading--icon">
                        <img 
                            src="assets/images/brands/database_logo.png" 
                            alt="HTML logo">
                    </div>
                    <h2 [innerHTML]="texts.databases.heading" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.databases.content[0]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.databases.content[1]"></span>
                        <span [innerHTML]="texts.databases.content[2]"></span>
                    </p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.databases.content[3]"></span>
                        <span [innerHTML]="texts.databases.content[4]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_6">
                <div class="section-heading">
                    <div class="section-heading--icon">
                        <img 
                            src="assets/images/brands/vsc_logo.png" 
                            alt="HTML logo">
                    </div>
                    <h2 [innerHTML]="texts.ide.heading" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.ide.content[0]"></p>
                    <p [innerHTML]="texts.ide.content[1]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.ide.content[2]"></span>
                        <span [innerHTML]="texts.ide.content[3]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section id="section_7">
                <div class="section-heading">
                    <h2 [innerHTML]="texts.others.heading" class="section-heading--text"></h2>
                </div>
                <div class="section-body">
                    <p [innerHTML]="texts.others.content[0]"></p>
                    <p [innerHTML]="texts.others.content[1]"></p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.others.content[2]"></span>
                        <span [innerHTML]="texts.others.content[3]"></span>
                    </p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.others.content[4]"></span>
                        <span [innerHTML]="texts.others.content[5]"></span>
                    </p>
                    <p class="summary-note">
                        <span [innerHTML]="texts.others.content[6]"></span>
                        <span [innerHTML]="texts.others.content[7]"></span>
                    </p>
                </div>
            </section>
            <section-separator></section-separator>
            <section class="d-flex justify-content-center">
                <about-author-card></about-author-card>
            </section>
        </article>
    </div>
    <div class="d-none d-md-block col-md-2"></div>
</div>
