$md-breakpoint: 768px
$md-lg-breakpoint: 900px
$lg-breakpoint: 992px


$global-transition-time: .3s
$global-transition-time--long: .4s

$navigation-bar-height: 80px
$navigation-bar-height--short: 60px
$menu-button-width: 180px
$menu-button-height: 38px
$menu-button-background: rgba(0, 123, 255, .6)

$section-heading-icon-height: 55px

