/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

*
    scroll-behavior: smooth
    font-family: 'Roboto', sans-serif

body
    // background-image: url('src/assets/bg_light_blue_1920.jpg')
    background-attachment: fixed
    background-size: cover

p
    text-indent: 1rem
    padding-top: 12px


.container
    background-color: rgba(255, 255, 255, .9)
    padding-top: 32px

.content--fade-in
    animation: contentFadeIn ease-in .3s

@keyframes contentFadeIn
    0%
        opacity: 0.3
    100%
        opacity: 1
